.custom-conic-gradient {
  background-image: conic-gradient(from 90deg at 50% 50%, #f472b6, #60a5fa, #34d399, #f472b6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient-spin 4s linear infinite;
}

@keyframes gradient-spin {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
